/* ROOT */

:root {
    --main-bg-color: #FFF;
    --text-color: #000;
    --special-color: #fdc163;
}

/* BODY */

body {
    background-color: var(--main-bg-color);
    width: calc(100vw/ 1.2);
    margin: auto;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.recent {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 5em;
    margin-bottom: 2em;
}

h1,
h2,
h3,
h4 {
    font-weight: 100;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#title {
    font-weight: 500;
    font-size: 20px;
}

h1 {
    text-align: center;
    text-align: left;
    margin-bottom: -5px;
}

h2 {
    font-size: 18px;

}

#year {
    font-size: 13px;
}

h5 {
    color: var(--special-color);
    font-size: 13px;
    margin: 0.5em;
}

/* NAVIGATION */

.container {
    width: 90%;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: var(--main-bg-color);
    border-bottom: 3px solid var(--special-color);

}

.logo {
    width: 60px;
    float: left;
    padding: .3em;
}

.search_icon_big {
    width: 20px;
    float: right;
    margin-top: inherit;
    margin-left: 10px;
    margin-right: 0;
}

/* SMALL SCREENS */
@media all and (max-width:700px) {
    nav {
        display: none;
    }

    #menu {
        display: none;
    }

    label {
        display: block;
        float: right;
    }

    #menu:checked ~ nav {
        display: block;
    }

    nav {
        position: absolute;
        margin-top: 57px;
        right: 8%;
        padding: 5px;
    }

    nav li {
        line-height: 25px;
        text-align: right;
        list-style: none;
        border-bottom: 1.5px solid var(--special-color);
    }

    nav li a {
        color: var(--text-color);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        display: block;
    }

    nav li a:hover {
        color: var(--special-color);
    }

    .recent {
        margin-top: 130px;
    }
}

/* BIG SCREENS */
@media all and (min-width:700px) {
    input:not(:checked) ~ nav {
        display: block;
    }

    label {
        display: none;
    }

    #menu {
        display: none;
    }

    /* UL TAG BIG SCREENS */

    nav {
        float: right;
        top: 0;
    }

    nav li {
        float: left;
        width: 110px;
        height: 70px;
        line-height: 50px;
        text-align: center;
        list-style: none;
    }

    nav li a {
        color: var(--text-color);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        display: block;
    }

    nav li:hover {
        background: var(--special-color);
    }

    nav li a:hover {
        color: var(--main-bg-color);
    }

    .navbar {
        overflow: hidden;
    }
}

/* LOGO */

#logo {
    margin-top: 2em;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 9px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid var(--text-color);
    margin: 1em 0;
    padding: 2em;
}


/* GRID */

article {
    margin-bottom: 2em;
    display: grid;
    padding: .5em;
    border: 1px solid var(--text-color);
    position: relative;
    /*grid-template-columns: 2fr;*/
    /*grid-auto-flow: dense;*/
    /*grid-template-rows: 6fr;*/
}

article:hover {
    transform: scale(1.05);
    border: 3px solid var(--special-color);
    transition: 0.3s ease-in-out;
}


.recent {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-align: left;
    letter-spacing: 2px;
}

main {
    /*margin: 1em;*/
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(290px, 2fr));
}

/* IMAGE */

.cover {
    width: auto;
    height: 17em;
    padding: .5em;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    border: 2px solid black;
}

#stars {
    text-align: center;
    color: #fff;
    border: solid black 2px;
    background-color: #000;
    padding: 12px 55px;
}

/*  BUTTON */

.button-info {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    border: solid black 1px;
    background-color: inherit;
    padding: 12px 66px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.button-info:hover {
    border: solid grey 1px;
    transition: 0.3s ease-in;
    background-color: grey;
}

/* BOOKMARK */
*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.bookmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 50px;
    padding: 0px;
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    border-left: 25px solid lightgray;
    border-right: 25px solid lightgray;
    border-bottom: 25px solid transparent;
    margin: 7px;
    margin-top: 0;
    cursor: pointer;
}

.checked {

    border-left: 25px solid #e06256;
    border-right: 25px solid #e06256;

}

footer {
    text-align: center;
    padding: 0.4em;
    color: black;
}

/*  MODAL */

/* CATEGORIES MADE BY JAVA SCRIPT */

.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    background-color: var(--main-bg-color);
    border: 1px solid black;
    margin: 1em;
    padding: 2em;
    width: 93%;
}

aside .cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* GENRES MODAL */

.modal-background-cat {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}

.modal-content-cat {
    background-color: var(--main-bg-color);
    margin: 1em;
    padding: 2em;
}

.modal-genres-title {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 30px;
}

a {
    color: var(--special-color);
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.cat-list {
    margin: auto;
    margin-left: -3%;
    text-align: center;
    text-decoration: none;
    list-style: none;
    line-height: 40px;
    font-size: 18px;
}

@keyframes genrehover {
    from {
        font-size: 18px;
        color: var(--special-color);
    }

    to {
        font-size: 22px;
        color: #aaaaaa;
    }
}

.cat-list :hover {
    animation: genrehover 1.8s;
}
